@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #7f1d1d;
  --color-secondary: #f4f4f4;
  --color-accent: #fbbf24;
  
  --font-inter: "Inter", sans-serif;
}

@layer base {
  body {
    @apply font-inter bg-[--color-secondary] m-0 p-0;
  }
}

@layer utilities {
  .bg-primary { background-color: var(--color-primary); }
  .text-primary { color: var(--color-primary); }
  
  .bg-secondary { background-color: var(--color-secondary); }
  .text-secondary { color: var(--color-secondary); }
  
  .bg-accent { background-color: var(--color-accent); }
  .text-accent { color: var(--color-accent); }
}